<div class="s">
  <form class="f" [formGroup]="registerForm" (ngSubmit)="register()">
  <h3>Person information</h3>
    <mat-form-field>
      <input matInput placeholder="Förnamn" type="text" formControlName="firstName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="efternamn" type="text" formControlName="lastName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Email" type="text" formControlName="email">
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="Lösenord" type="text" formControlName="password">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Tel. nummer" type="text" formControlName="phoneNumber">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Prenumerations nummer" type="text" formControlName="prenumNumber">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Organisations nummer" type="text" formControlName="orgNumber">
    </mat-form-field>
    <br>

    <h3>Adress</h3>

    <br>


    <mat-form-field>
      <input matInput placeholder="Stad" type="text" formControlName="city">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Gata" type="text" formControlName="street">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Postnummer" type="text" formControlName="postnummer">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="role">
        <mat-option value="COMPANY">Företag</mat-option>
        <mat-option value="SUBSCRIBER">Prenumerant</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <button mat-raised-button color="accent" type="submit" class="button" ahref> submit</button>

    <p></p>
  </form>
</div>
