<section class="landing-page">
  <div class="ad-count-card">
    <div class="card-content">
      <h3>Total Ads</h3>
      <p>{{adCount}}</p>
    </div>
  </div>
  <div class="user-count-card">
    <div class="card-content">
      <h3>Total Users</h3>
      <p>{{userCount}}</p>
    </div>
  </div>
  <header>
    <h1>Welcome to AFI-AdSpace</h1>
    <p>Your one-stop solution for buying and selling ads</p>
  </header>
  <div class="features">
    <div class="feature">
      <h2>Reach Your Audience</h2>
      <p>Target your ads to the right audience and maximize your ROI.</p>
    </div>
    <div class="feature">
      <h2>Easy to Use</h2>
      <p>Our platform is user-friendly and easy to navigate.</p>
    </div>
    <div class="feature">
      <h2>Affordable Pricing</h2>
      <p>Get the best rates for your ad campaigns.</p>
    </div>
  </div>

</section>
