#g {
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 4px;
  color: black;
  background-color: rgb(122, 122, 122);
}